.breadcrumb {
  margin-left: 2rem;
  margin-top: 1rem;
}

.defeted_img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.defeted_section {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}
.bread_span {
  cursor: pointer;
}

.bread_span:hover {
  color: blue;
}
